@helper LeaderBoard()
{
    @*<div class="leaderboard-advertisement">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         Duck Row Leaderboard 
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-2873548062875395"
             data-ad-slot="1990221471"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>*@
}

@helper SideBar()
{
    <div class="side-advertisement">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Duck Row Medium Rec -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-2873548062875395"
             data-ad-slot="4385284674"></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
}

@helper MobileSideBar()
{
    <div class="mobile-side-advertisement">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Duck Row Side Advert -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2873548062875395"
             data-ad-slot="4943687877"
             data-ad-format="auto"></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
}

@helper HorizontalBar() {
    <div class="horizontal-advertisement">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Duck Row Leaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2873548062875395"
     data-ad-slot="1990221471"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
}

@helper MobileHorizontalBar()
{
    <div class="mobile-horizontal-advertisement">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- DuckRow Mobile Banner -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:100px" 
             data-ad-client="ca-pub-2873548062875395"
             data-ad-slot="6780347876"></ins>
        <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
}
