@{
    ViewBag.Title = "About DuckRow";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>It's about getting your Duck's in a row.</h3>
    <br/>
    <p>DuckRow is a network for local communities. DuckRow makes it easy for anyone to advertise their classes for free and helps
     members find those classes with minimal effort.</p>
    <br />

    <p>
        DuckRow's mission is get the community active and help people get out into the world to excercise, experience and excite. DuckRow believes people can lift the boundaries
        of their world if only they knew what was going on in their area. DuckRow is commited to helping the voices of the communities talk to each other and those voices can
        help integrate everyone.
    </p>
    <br />

    <p>Get in touch...</p>
    <ul class="inlineblockList">
        <li class="">
            <a href="https://www.facebook.com/duckrow.net" target="_blank">
                <img alt="DuckRow on Facebook" src="@Href("~/Images/facebook-duckrow.png")" height="23">
            </a>
        </li>
        <li class="">
            <a href="https://twitter.com/DuckRowNet" target="_blank">
                <img alt="DuckRow on Twitter" src="@Href("~/Images/twitter.png")" height="23">
            </a>
        </li>
        @*<li class="">
            <a href="https://www.linkedin.com/company/duckrow" target="_blank">
                <img alt="DuckRow on LinkedIn" src="@Href("~/Images/linkedin.png")" height="23">
            </a>
        </li>*@
    </ul>
</div>