@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <br />
    <br />
    <abbr title="Phone">P:</abbr>
    
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@duckrow.net">info@duckrow.net</a>
</address>