@{
    ViewBag.Title = "Whoops!";
}

<div class="error-page">
    <div class="overlay">
        <h2>@ViewBag.Title.</h2>
        <h3>We're getting our ducks in a row. <br/>Head back to <a href="http://duckrow.net/" alt="DuckRow.Net">find classes</a> on DuckRow.</h3>
    </div>
</div>